
body {
  background-color: #f0f0f0;
  font-family: "";
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  text-align: center
}

.navbar{
  background-color: #619081;
}


.nav-item{
  padding: 0 14px;
  font-weight: 800;
}

.dropdown-menu {
  background-color: #619081;
}

.dropdown-item{
color: white;
}

.nav-link {
  font-size: 1.3rem;
}
