
body {
  background-color: #f0f0f0;
  font-family: "";
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, h2 {
  text-align: center;
 background-color: #fdb945;

}

.footer {
  text-align: center;

}


h5 {
color: black;
}


.navbar,
.dropdown-menu
{
  background-color: #619081;
}

.placeholder
{color: grey;
font-weight: bolder;
}

.nav-item{
  padding: 0 14px;
  font-weight: 800;
}


.dropdown-item{
color: white;
}

.nav-link {
  font-size: 1.5rem;
}

hr
{
border-style: none;
}
